.tab-container {
    padding: 15px;
}

#sections {
    margin-left: 15px;
}

#sections .department {
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#sections .department button {
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}

#sections li {
    margin: 0;
}

#sections > li {
    margin-bottom: 15px;
}

#dialog-form {
    padding: 10px 20px 0px 20px;
}

#dialog-form table {
    margin: 10px 0;
}

#dialog-form table td.center {
    text-align: center;
}

#dialog-form table .icon-plus {
    color: #00ff00;
    cursor: pointer;
    padding: 3px;
}

#dialog-form table .icon-remove {
    padding: 3px;
    color: #ff0000;
    cursor: pointer;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.table tbody + tbody {
    border-top: 2px solid #dddddd;
}

.table .table {
    background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}

table.weather {
    width: 100%;
}

table.weather td.weather_code {
    width: 10%;
}

table.weather td.weather_condition {
    width: 25%;
}

table.weather td.custom_text {
    width: 60%;
}

table.weather td.custom_text input {
    width: 95%;
}


/* Phone Number Sorter */

.phone-sorting-notice {
    background: #fff;
    border-bottom: 1px solid #666;
    padding: 2% 3%;
    color: #999;
}

div#phone--settings {
    max-width: 400px;
    width: 100%;
    display: none;
}

div#phone--settings .sorting-placeholder {
    margin: 50px 0;
}

div#phone--settings li.phone-sortable {
    display: block;
    background: #fff;
    border-bottom: 1px solid #2196F3;
    padding: 5px 10px;
}

div#phone--settings li.phone-sortable:hover {
    cursor: ns-resize;
}

div#phone--settings li.phone-sortable.phone-sortable-custom {
    border-color: #009688;
    border-left: 2px solid #009688;
}

div#phone--settings li.phone-sortable.started {
    border-color: #0a6ebd;
    background-color: #2196F3;
    color: #fff;
}

div#phone--settings #reset--phone-number {
    background: #9E9E9E;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

div#phone--settings #add--phone-number {
    background: #4DB6AC;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

div#phone--settings #phone-sorting-dialog-form label {
    min-width: 150px;
    display: inline-block;
}

div#phone--settings .custom-phone-number {
    float: right;
    color: #bbb;
}

div#phone--settings .remove--custom-number,
div#phone--settings .edit--custom-number {
    margin-left: 5px;
}

div#phone--settings .remove--custom-number {
    color: #F44336;
}

div#phone--settings .edit--custom-number {
    color: #80CBC4;
}

input[type=text]#di_phone_sorting {
    display: none;
}

body .form-table_button,
body .form-table .set_schema_image_button:focus {
    vertical-align: middle;
    position: relative;
    top: -2px;
    background: #5a6673;
    border: none;
    color: #fff;
    border-radius: 0;
    text-shadow: none;
}

body .form-table .set_schema_image_button:hover,
body .form-table .set_schema_image_button:active,
body .form-table .set_schema_image_button:focus:hover,
body .form-table .set_schema_image_button:focus:active {
    background: #23282d;
    color: #fff;
}

.schema_placeholder img {
    max-width: 200px;
    width: 100%;
    height: auto !important;
    vertical-align: middle;
    margin-left: 20px;
}

.schema_placeholder img:hover {
    cursor: pointer;
}

input#dealer_mainsite,
input#dealer_locationlink,
input#dealer_gmblink,
input#dealer_partslink,
input#dealer_accessories,
input#dealer_tireslink {
    width: 100%;
    padding-top: 6px;
    padding: .5em;
}

@media (min-width: 800px) {
    input#dealer_name,
    input#dealer_tel,
    input#dealer_tellink,
    input#dealer_location1,
    input#dealer_location2,
    input#meta_google,
    input#meta_bing,
    input#lat_option,
    input#lng_option {
        width: 428px;
        padding: .5em;
    }
}

textarea#customcode_header,
textarea#customcode_footer {
    width: 100%;
    padding-top: 6px;
    min-height: 650px;
}

div#wpfooter {
    display: none;
}

.custom-setting {
    width: 100%;
    height: 550px;
}


/*div#servo_general,
div#servo_custom,
div#servo_analytics {
    visibility: hidden;
}*/

p.submit {
    text-align: right;
    margin-right: 10px;
}
