/*!
Theme Name: servo
Theme URI:
Author: AMSI
Author URI:
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: servo
Tags:

*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Lorem Ipsum

--------------------------------------------------------------*

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

@import './bower_components/bootstrap/dist/css/bootstrap.min.css';
@import './bower_components/font-awesome/css/font-awesome.min.css';
@import './bower_components/PACE/themes/red/pace-theme-loading-bar.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);

/*--------------------------------------------------------------
# Theme Styles
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1,
h1 small,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
p.lead,
ul,
ol,
dl,
.btn,
.navbar-brand,
.navbar-nav .open .dropdown-menu li a,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p.lead {
    margin: 0 0 1rem;
}

h1,
h1 small,
h2,
h2 small,
h3.thin,
h3.thin small,
h4.thin,
h4.thin small,
.h1,
.thin,
.lead.thin {
    font-weight: 300;
}

blockquote {
    border-width: 2px;
}

dd {
    margin-bottom: 1rem;
}

dd ul {
    margin-top: .5rem;
}

dt {
    margin-bottom: .5rem;
}

ol li {
    margin: 0 0 .5rem;
}

p+h2,
p+h3,
p+h4,
p+h5,
p+h6,
ul+h2,
ul+h3,
ul+h4,
ul+h5,
ul+h6,
ul+h2,
ol+h3,
ol+h4,
ol+h5,
ol+h6,
dl+h2,
dl+h3,
dl+h4,
dl+h5,
dl+h6 {
    margin-top: 2rem;
}

p,
p.lead,
ul,
ol,
dl {
    line-height: 1.5em;
}

p,
ul,
ol,
dl {
    margin: 0 0 1rem;
}

p.panel-title {
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    font-weight: bold;
}

p.panel-title a {
    display: block;
    padding: 1rem;
}

p.panel-title a:hover,
p.panel-title a:active,
p.panel-title a:focus {
    color: #fff;
}

strong {
    font-weight: 700;
}

.color-mykaarma {
    color: #ff8a40;
}

.larger {
    font-size: 2.5rem;
}

.text-center-xxs {
    text-align: center;
}

.text-right-xxs {
    text-align: right;
}

.wait h3 {
    font-weight: 700;
    padding: 80px 0;
    text-transform: uppercase;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body,
html {
    height: 100%;
    min-height: 100%;
}

hr.sm {
    border-width: 5px;
    width: 100px;
}

input {
    color: #fff;
}

img.full {
    width: 100%
}

section {
    padding: 2rem 0;
}

.bg-drk {
    background: #444;
    color: #fff;
}

.bg-lgt {
    background: #f5f5f5;
}

.bg-infiniti {
    background: #504187;
}

.bg-lgt>.container>hr {
    border-color: #ddd;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

@media only screen and (max-width:539px) {
    .col-xxs-6,
    .col-xxs-8,
    .col-xxs-12 {
        padding: 0 15px;
        float: left;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-8 {
        width: 66.666666%;
    }
    .col-xxs-12 {
        width: 100%;
    }
    .hidden-xxs {
        display: none !important;
    }
    .visible-xxs {
        display: block !important;
    }
}

.col-xxs-centered {
    float: none;
    margin: auto;
}

.col-xxs-5th,
.col-xs-5th,
.col-sm-5th,
.col-md-5th,
.col-md-5th,
.col-lg-5th {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    width: 100%;
}

.col-xxs-5th {
    width: 20%;
}

.graph {
    height: 200px;
    margin-top: 1rem;
}

.graph .col-xs-2,
.graph .col-xs-1 {
    height: 200px;
    padding: 0 5px;
}

.graph p {
    margin-top: 10px;
}

.panel {
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

img.border-radius-top {
    border-radius: 4px 4px 0 0;
    width: 100%;
}

.panel-header {
    padding: 1rem;
}

.round {
    border-radius: 1000px;
    height: 5rem;
    margin: 0 auto;
    width: 5rem;
}

.sidebar {
    margin: 2rem 0 0;
}

.screen-100,
.screen-50 {
    display: table;
    min-height: 385px;
    width: 100%;
}


/*height: 100%; min-height: 100%;*/

.panel.panel-x {
    background-color: #fff!important;
    border: none;
    border-radius: 0;
}

.screen-50 {
    min-height: 385px;
}


/*height: 50%; min-height: 50%;*/

.cell {
    display: table-cell;
    vertical-align: middle;
}

.local .screen-50 {
    min-height: 0;
}

//.modal-content {
//    height: 95%;
//}

.modal-dialog {
    height: 93%;
    width: 95%;
    max-width: 1025px;
}

button.close {
    opacity: 1;
}


/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a,
button {
    transition: ease all 200ms;
}

a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
}

.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #222;
    border-color: #222;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #333;
    color: #333;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active.btn-primary:focus,
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline:hover,
.btn-primary-outline:focus {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.btn-main,
.btn-main:active,
.btn-main:focus,
.btn-main:active:focus,
.btn-main:hover,
.btn-main-outline:hover,
.btn-primary-outline:hover,
.btn-alt:focus,
.btn-alt:hover,
.btn-secondary,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary:hover,
.nav.navbar-nav li.contact-xs a,
.btn-white-outline,
.btn-white-outline:focus,
.btn-white-outline:hover,
.btn-mykaarma-outline:hover,
.btn-mykaarma-outline:focus,
.btn-mykaarma-outline:active {
    color: #fff;
}

.btn-white-outline {
    background-color: transparent;
    border: #fff 1px solid;
}

.btn-white-outline:hover,
.btn-white-outline:focus {
    background-color: rgba(255, 255, 255, .3);
}

.btn-mykaarma {
    background-color: #ff8a40;
    border-color: #ff8a40;
    color: #fff;
}

.btn-mykaarma:hover,
.btn-mykaarma:focus,
.btn-mykaarma:active {
    background-color: #d97536;
    border-color: #d97536;
    color: #fff;
}

.btn-mykaarma-outline {
    border-color: #ff8a40;
    color: #ff8a40;
}

.btn-mykaarma-outline:hover,
.btn-mykaarma-outline:focus,
.btn-mykaarma-outline:active {
    background-color: #ff8a40;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}


/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/

nav.navbar.navbar-default {
    border-top: #ddd 1px solid!important;
    margin-bottom: 0px;
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
}

.navbar-brand {
    font-size: 1.6rem;
    padding: 8px 15px;
}

.navbar-nav .open .dropdown-menu {
    background: #444;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    background: none;
    color: rgba(255, 255, 255, 0.75);
    padding: 1rem 2rem;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:active:focus {
    padding: 1rem 2rem;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    height: 50px;
}

.navbar {
    margin: 0;
}

.navbar-nav>li>button {
    background-color: transparent;
    border: none;
    color: #777;
    padding: 1rem 1.5rem;
    text-align: left;
    width: 100%;
}

.navbar-nav>li>button:hover,
.navbar-nav>li>button:focus,
.navbar-nav>li>button:active:focus {
    color: #000;
}


/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

form .col-xs-6:nth-child(4) {
    display: none;
}

footer .form-control {
    background: transparent;
    border: none;
    border-bottom: #fff 1px solid;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

footer .form-control:focus {
    box-shadow: none;
    outline: none;
}


/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#home .oem .btn {
    margin: 2rem 0 0;
}

.usps .panel.panel-x {
    display: table;
    height: 150px;
    min-height: 150px;
    width: 100%;
    color: #fff;
}

.mobile-pay {
    background-image: url('/wp-content/themes/servo/assets/bg-pay-xs.jpg');
}

.mobile-pay.screen-50 {
    height: 568px;
    min-height: 568px;
}

.mobile-pay.screen-50>.cell {
    vertical-align: top;
}

.oem blockquote {
    border-color: #fff;
}

.steps img {
    margin: 0 auto 1rem;
    width: 88px;
}


/*--------------------------------------------------------------
# Schedule
--------------------------------------------------------------*/

.xtime-xs,
.xtime-md {
    border: none;
    height: 420px;
    width: 100%;
}

@media screen and (min-width: 300px) and (max-height: 500px) {
    .xtime-xs {
        height: 320px;
    }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

#service .featured p+p {
    margin: 0 0 3rem;
}

#service .bg-lgt>.container hr {
    border-color: #ddd;
}


/*--------------------------------------------------------------
# Coupons
--------------------------------------------------------------*/

.coupon {
    border: #000 3px dashed;
    padding: 2rem;
    margin: 0 0 1rem;
}

.coupon .price {
    font-size: 3rem;
    font-weight: bold;
}

.coupon .disclaimer {
    font-size: 1rem;
}


/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/

#faq .panel-default>.panel-heading {
    background-color: #fff;
    padding: 0;
}

#faq .panel-default>.panel-heading a,
#faq .panel-default>.panel-heading:hover a,
#faq p.panel-title a:hover,
#faq p.panel-title a:active,
#faq p.panel-title a:focus {
    color: #c51a47;
}

#faq .panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-color: rgba(158, 21, 57, .3);
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact .panel.panel-default .pad-1x.bg-main {
    border-radius: 0 0 4px 4px;
}


/*--------------------------------------------------------------
# Staff
--------------------------------------------------------------*/

#staff .bio {
    margin-bottom: 3rem;
}


/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/

#faq dt {
    margin: 2rem 0 1rem;
}


/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/

#map_canvas {
    color: #777;
    height: 250px;
    width: 100%;
}


/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/

#error-404 h1 {
    margin-top: -10rem;
}

#error-404 section.header {
    background: linear-gradient( 90deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/wp-content/themes/servo/assets/bg-404-xs.jpg');
}


/*--------------------------------------------------------------
# Sitemap
--------------------------------------------------------------*/

#sitemap ul.list-unstyled li {
    margin: 0 0 1rem;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer,
footer a {
    color: rgba(255, 255, 255, .8);
}

footer a:hover,
footer a.active.focus,
footer a.active:focus,
footer a.focus,
footer a:active.focus,
footer a:active:focus,
footer a:focus {
    color: rgba(255, 255, 255, 1);
}

footer .bg-main-med {
    padding: 2rem 0;
}

footer .bg-main-drk a {
    color: rgba(255, 255, 255, 0.75);
}

footer .bg-main-drk a:hover {
    color: rgba(255, 255, 255, 1);
}

footer .col-md-2 {
    display: none;
}

footer .form-control {
    box-shadow: none;
}

footer .form-control,
footer .form-group {
    display: inline;
    width: 100% !important;
}

footer .list-unstyled li {
    line-height: 200%;
}


/*--------------------------------------------------------------
# iPhone 6 Plus
--------------------------------------------------------------*/

@media only screen and (min-width: 414px) {
    .mobile-pay.screen-50 {
        height: 756px;
        min-height: 756px;
    }
}


/*--------------------------------------------------------------
# X-Small
--------------------------------------------------------------*/

@media only screen and (min-width: 540px) {
    /** TYPOGRAPHY **/
    .text-center-xs {
        text-align: center;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-right-xs {
        text-align: right;
    }
    /** GENERAL **/
    .col-xs-5th {
        width: 20%;
    }
    .col-xs-centered {
        float: none;
        margin: auto;
    }
    .col-xs-uncentered {
        float: left;
        margin: 0;
    }
    .masonry {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}


/*--------------------------------------------------------------
# Small
--------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
    /** TYPOGRAPHY **/
    .text-center-sm {
        text-align: center;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-right-sm {
        text-align: right;
    }
    /** GENERAL **/
    section {
        padding: 3rem 0;
    }
    .col-sm-5th {
        width: 20%;
    }
    .col-sm-centered {
        float: none;
        margin: auto;
    }
    .col-sm-uncentered {
        float: left;
        margin: 0;
    }
    .screen-100,
    .screen-50 {
        display: table;
        height: 512px;
        min-height: 512px;
        width: 100%;
    }
    /*height: 100%; min-height: 100%;*/
    /** HEADER **/
    header {
        height: 130px;
        position: relative;
    }
    header .container {
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /** FOOTER **/
    footer .bg-main-drk p {
        line-height: 80%;
    }
    footer .col-md-2 {
        display: inline;
    }
    footer .form-control,
    footer .form-group {
        display: inline;
    }
    /** NAV **/
    .collapse.navbar-collapse {
        padding: 0;
    }
    .collapse.navbar-collapse i.fa {
        display: none;
    }
    .navbar {
        font-size: 13px;
    }
    .nav.navbar-nav {
        height: 50px;
        /*width: 100%;*/
    }
    .nav.navbar-nav>li.li-right {
        float: right;
    }
    .navbar.navbar-default {
        background: none;
        border: none;
        border-radius: 0;
    }
    .navbar-nav>li>button {
        line-height: 20px;
        padding: 15px;
        text-align: left;
    }
    /** HOME **/
    #home .oem .btn {
        margin: 3rem 0 0;
        text-align: right;
    }
    .usps .panel.panel-x {
        height: 227px;
        min-height: 227px;
    }
    .local .screen-50 {
        height: 288px;
    }
    .steps {
        background-image: url('/wp-content/themes/servo/assets/bg-mykaarma-sm.png');
    }
    .mobile-pay.screen-50 {
        background-image: url('/wp-content/themes/servo/assets/bg-pay-sm.jpg');
        height: 512px;
        min-height: 512px;
    }
    /*height: 50%; min-height: 50%;*/
    .mobile-pay.screen-50>.cell {
        vertical-align: middle;
    }
    /** SERVICES **/
    #service .featured p+p {
        margin: 0 0 4rem;
    }
    #service .featured .col-md-6:last-child p {
        margin: 0 0 1rem;
    }
    /** COUPON **/
    .coupon {
        display: table;
        height: 345px;
    }
    /** 404 **/
    #error-404 section.header {
        background: linear-gradient( 90deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/wp-content/themes/servo/assets/bg-404-sm.jpg');
    }
    #error-404 h1 {
        margin-top: 0;
    }
}


/*--------------------------------------------------------------
# Medium
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
    /** TYPOGRAPHY **/
    .text-center-md {
        text-align: center;
    }
    .text-left-md {
        text-align: left;
    }
    .text-right-md {
        text-align: right;
    }
    /** GENERAL **/
    section {
        padding: 4rem 0;
    }
    .col-md-5th {
        width: 20%;
    }
    .col-md-centered {
        float: none;
        margin: auto;
    }
    .col-md-uncentered {
        float: left;
        margin: 0;
    }
    .panel-header {
        padding: 3rem 2rem;
    }
    .sidebar {
        margin: 0;
    }
    .masonry {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
    .screen-100,
    .screen-50 {
        display: table;
        height: 385px;
        min-height: 385px;
        width: 100%;
    }
    /*height: 100%; min-height: 100%;*/
    /** NAV **/
    .collapse.navbar-collapse i.fa {
        display: inline;
    }
    .navbar {
        font-size: 14px;
    }
    /** MAP **/
    #map_canvas {
        color: #777;
        height: 300px;
        width: 100%;
    }
    /** FAQ **/
    #sticky {
        width: 293px;
    }
    #sticky.stick {
        margin-top: 0 !important;
        position: fixed;
        top: 0;
        z-index: 10000;
    }
    /** FOOTER **/
    footer .bg-main-med {
        padding: 3rem 0;
    }
    /** HOME **/
    .usps .panel.panel-x {
        min-height: auto;
    }
    .local .screen-50 {
        height: 299px;
    }
    .steps {
        background-image: url('/wp-content/themes/servo/assets/bg-mykaarma-md.png');
    }
    .mobile-pay.screen-50 {
        background-image: url('/wp-content/themes/servo/assets/bg-pay-md.jpg');
        height: 384px;
        min-height: 384px;
    }
    /** SERVICES **/
    #service .featured .col-md-6:nth-child(n+3) p {
        margin: 0 0 1rem;
    }
    /** CONTACT **/
    #contact .panel-header {
        padding: 2rem;
    }
    /** SCHEDULE SERVICE **/
    #schedule .xtime-md {
        height: 750px;
    }
    /** 404 **/
    #error-404 section.header {
        background: linear-gradient( 90deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/wp-content/themes/servo/assets/bg-404-md.jpg');
    }
}


/*--------------------------------------------------------------
# Large
--------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
    /** TYPOGRAPHY **/
    .text-center-lg {
        text-align: center;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-right-lg {
        text-align: right;
    }
    /** GENERAL **/
    .col-lg-5th {
        width: 20%;
    }
    .col-lg-centered {
        float: none;
        margin: auto;
    }
    .col-lg-uncentered {
        float: left;
        margin: 0;
    }
    .screen-100,
    .screen-50 {
        display: table;
        height: 453px;
        min-height: 453px;
        width: 100%;
    }
    /*height: 100%; min-height: 100%;*/
    /** HEADER **/
    header .larger {
        margin: 1rem 0 0;
    }
    /** HOME **/
    .local .screen-50 {
        height: 300px;
    }
    .steps {
        background-image: url('/wp-content/themes/servo/assets/bg-mykaarma-lg.png');
    }
    .mobile-pay.screen-50 {
        background-image: url('/wp-content/themes/servo/assets/bg-pay-lg.jpg');
        height: 453px;
        min-height: 453px;
    }
    .wait h3 {
        padding: 130px 0;
    }
    /** CONTACT **/
    #contact .panel-header {
        padding: 4rem 2rem;
    }
    /** COUPONS **/
    .coupon .disclaimer {
        font-size: 1rem;
    }
    /** SCHEDULE SERVICE **/
    /*  #schedule iframe.hidden-xs.hidden-sm { height: 590px; }*/
    /** FAQ **/
    #sticky {
        width: 360px;
    }
    /** 404 **/
    #error-404 section.header {
        background: linear-gradient( 90deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/wp-content/themes/servo/assets/bg-404-lg.jpg');
    }
}


/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/

#brakes>section.header {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/wp-content/themes/servo/assets/bg-brakes-xs.jpg');
}

#error-404 section.header {
    background-position: center;
    background-size: cover;
    border: 0;
    color: #fff;
}

#oil>section.header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-oil-change-xs.jpg');
}

#service>section.header {
    background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-services-xs.jpg');
}

#tires>section.header {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/wp-content/themes/servo/assets/bg-tires-xs.jpg');
}

.mobile-pay,
.steps {
    background-position: top;
    background-repeat: no-repeat;
}

.mobile-pay {
    background-size: cover;
}

.panel-x.usp-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-battery-sm.jpg');
}

.panel-x.usp-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-shuttle-xs.jpg');
}

.panel-x.usp-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-tire-fill-sm.jpg');
}

.panel-x.usp-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-car-wash-sm.jpg');
}

.panel-x.usp-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-express-oil-sm.jpg');
}

.panel-x.usp-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-buy-3-tires-sm.jpg');
}

.panel-x.usp-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-alignment-sm.jpg');
}

.panel-x.usp-8 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-brakes-sm.jpg');
}

.panel-x.usp-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-loaner-sm.jpg');
}

.panel-x.usp-10 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-carbrakechecks-sm.jpg');
}

.panel-x.usp-11 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-faqcert-sm.jpg');
}

.panel-x.usp-12 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-faqdriving-sm.jpg');
}

.panel-x.usp-13 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-faqparts-sm.jpg');
}

.panel-x.usp-14 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-faqtech-sm.jpg');
}

.panel-x.usp-15 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-faqtires-sm.jpg');
}

.panel-x.usp-16 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-fluid-sm.jpg');
}

.panel-x.usp-17 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-brakecomponents-sm.jpg');
}

.panel-x.wifi {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-free-wifi.jpg');
}

.panel-x.coffee {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('/wp-content/themes/servo/assets/bg-free-coffee.jpg');
}

.panel-x.lounge {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('/wp-content/themes/servo/assets/bg-free-lounge.jpg');
}


/*--------------------------------------------------------------
# Small
--------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
    #brakes>section.header {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/wp-content/themes/servo/assets/bg-brakes-sm.jpg');
    }
    #oil>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-oil-change-sm.jpg');
    }
    #service>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-services-sm.jpg');
    }
    #tires>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-tires-sm.jpg');
    }
}


/*--------------------------------------------------------------
# Medium
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
    #brakes>section.header {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/wp-content/themes/servo/assets/bg-brakes-md.jpg');
    }
    #oil>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-oil-change-md.jpg');
    }
    #service>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-services-md.jpg');
    }
    #tires>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-tires-md.jpg');
    }
}

#brakes>section.header,
#faq>section.header,
#oil>section.header,
#roadside>section.header,
#service>section.header,
#tires>section.header,
.panel-x.usp-1,
.panel-x.usp-3,
.panel-x.usp-4,
.panel-x.usp-5,
.panel-x.usp-6,
.panel-x.usp-7,
.panel-x.usp-8,
.panel-x.usp-9,
.panel-x.usp-10,
.panel-x.usp-11,
.panel-x.usp-12,
.panel-x.usp-13,
.panel-x.usp-14,
.panel-x.usp-15,
.panel-x.usp-16,
.panel-x.usp-17,
.panel-x.wifi,
.panel-x.coffee,
.panel-x.lounge {
    background-position: center;
    background-size: cover;
    color: #fff;
}


/*--------------------------------------------------------------
# Extended Bootstrap Classes
--------------------------------------------------------------*/

.border-x {
    border: 0
}

.border-radius-x {
    border-radius: 0
}

.border-radius-top-x {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pad-x {
    padding: 0
}

.pad_5x {
    padding: .5rem
}

.pad-1x {
    padding: 1rem
}

.pad-2x {
    padding: 2rem
}

.pad-3x {
    padding: 3rem
}

.pad-4x {
    padding: 4rem
}

.pad-vert-x {
    padding-top: 0;
    padding-bottom: 0
}

.pad-vert_5x {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.pad-vert-1x {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pad-vert-2x {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.pad-vert-3x {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.pad-vert-4x {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.pad-horz-x {
    padding-left: 0;
    padding-right: 0
}

.pad-horz_5x {
    padding-left: .5rem;
    padding-right: .5rem
}

.pad-horz-1x {
    padding-left: 1rem;
    padding-right: 1rem
}

.pad-horz-2x {
    padding-left: 2rem;
    padding-right: 2rem
}

.pad-horz-3x {
    padding-left: 3rem;
    padding-right: 3rem
}

.pad-horz-4x {
    padding-left: 4rem;
    padding-right: 4rem
}

.pad-top-x {
    padding-top: 0
}

.pad-top_5x {
    padding-top: .5rem
}

.pad-top-1x {
    padding-top: 1rem
}

.pad-top-2x {
    padding-top: 2rem
}

.pad-top-3x {
    padding-top: 3rem
}

.pad-top-4x {
    padding-top: 4rem
}

.pad-bottom-x {
    padding-bottom: 0
}

.pad-bottom_5x {
    padding-bottom: .5rem
}

.pad-bottom-1x {
    padding-bottom: 1rem
}

.pad-bottom-2x {
    padding-bottom: 2rem
}

.pad-bottom-3x {
    padding-bottom: 3rem
}

.pad-bottom-4x {
    padding-bottom: 4rem
}

.pad-left-x {
    padding-left: 0
}

.pad-left_5x {
    padding-left: .5rem
}

.pad-left-1x {
    padding-left: 1rem
}

.pad-left-2x {
    padding-left: 2rem
}

.pad-left-3x {
    padding-left: 3rem
}

.pad-left-4x {
    padding-left: 4rem
}

.pad-right-x {
    padding-right: 0
}

.pad-right_5x {
    padding-right: .5rem
}

.pad-right-1x {
    padding-right: 1rem
}

.pad-right-2x {
    padding-right: 2rem
}

.pad-right-3x {
    padding-right: 3rem
}

.pad-right-4x {
    padding-right: 4rem
}

.margin-auto {
    margin-left: auto;
    margin-right: auto
}

.margin-x {
    margin: 0 !important;
}

.margin_5x {
    margin: .5rem
}

.margin-1x {
    margin: 1rem
}

.margin-2x {
    margin: 2rem
}

.margin-3x {
    margin: 3rem
}

.margin-4x {
    margin: 4rem
}

.margin-vert-x {
    margin-top: 0;
    margin-bottom: 0
}

.margin-vert_5x {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.margin-vert-1x {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.margin-vert-2x {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.margin-vert-3x {
    margin-top: 3rem;
    margin-bottom: 3rem
}

.margin-vert-4x {
    margin-top: 4rem;
    margin-bottom: 4rem
}

.margin-horz-x {
    margin-left: 0;
    margin-right: 0
}

.margin-horz_5x {
    margin-left: .5rem;
    margin-right: .5rem
}

.margin-horz-1x {
    margin-left: 1rem;
    margin-right: 1rem
}

.margin-horz-2x {
    margin-left: 2rem;
    margin-right: 2rem
}

.margin-horz-3x {
    margin-left: 3rem;
    margin-right: 3rem
}

.margin-horz-4x {
    margin-left: 4rem;
    margin-right: 4rem
}

.margin-top-x {
    margin-top: 0
}

.margin-top_5x {
    margin-top: .5rem
}

.margin-top-1x {
    margin-top: 1rem
}

.margin-top,
.margin-top-2x {
    margin-top: 2rem
}

.margin-top-3x {
    margin-top: 3rem
}

.margin-top-4x {
    margin-top: 4rem
}

.margin-bottom-x {
    margin-bottom: 0
}

.margin-bottom_5x {
    margin-bottom: .5rem
}

.margin-bottom-1x {
    margin-bottom: 1rem
}

.margin-bottom-2x {
    margin-bottom: 2rem
}

.margin-bottom-3x {
    margin-bottom: 3rem
}

.margin-bottom-4x {
    margin-bottom: 4rem
}

.margin-left-x {
    margin-left: 0
}

.margin-left_5x {
    margin-left: .5rem
}

.margin-left-1x {
    margin-left: 1rem
}

.margin-left-2x {
    margin-left: 2rem
}

.margin-left-3x {
    margin-left: 3rem
}

.margin-left-4x {
    margin-left: 4rem
}

.margin-right-x {
    margin-right: 0
}

.margin-right_5x {
    margin-right: .5rem
}

.margin-right-1x {
    margin-right: 1rem
}

.margin-right-2x {
    margin-right: 2rem
}

.margin-right-3x {
    margin-right: 3rem
}

.margin-right-4x {
    margin-right: 4rem
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-white {
    color: #fff
}

.visible-xxs {
    display: none
}


/** Ricardo Edits **/


/** BOOTSTRAP OVERRIDE **/

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default {
    background-color: #ffffff !important;
    border-color: transparent !important;
}


/*--------------------------------------------------------------
# Wordpress Nav
--------------------------------------------------------------*/


/** FontAwesome **/

.nav_home>a::before {
    font-family: FontAwesome;
    content: "\f015";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

.nav_scheduleservice>a::before {
    font-family: FontAwesome;
    content: "\f073";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

.nav_services>a::before {
    font-family: FontAwesome;
    content: "\f0ad";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

//.nav_parts>a::before {
//    font-family: FontAwesome;
//    content: "\f085";
//    display: inline-block;
//    padding-right: 3px;
//    vertical-align: middle;
//    text-decoration: none;
//}

.nav_acc>a::before {
    font-family: FontAwesome;
    content: "\f07a";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

.nav_tire>a::before {
    font-family: FontAwesome;
    content: "\f013";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

.nav_coupons>a::before {
    font-family: FontAwesome;
    content: "\f02c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

.nav_learn>a::before {
    font-family: FontAwesome;
    content: "\f19d";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

.nav_contactus>a::before {
    font-family: FontAwesome;
    content: "\f007";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

.nav_mainsite>a::before {
    font-family: FontAwesome;
    content: "\f1b9";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    text-decoration: none;
}

@media only screen and (min-width: 766px) and (max-width: 990px) {
    /** FontAwesome **/
    .nav_home>a::before,
    .nav_scheduleservice>a::before,
    .nav_services>a::before,
    .nav_parts>a::before,
    .nav_coupons>a::before,
    .nav_learn>a::before,
    .nav_contactus>a::before {
        display: none;
    }
}

.nav_home>a,
.nav_scheduleservice>a,
.nav_services>a,
.nav_parts>a,
.nav_coupons>a,
.nav_learn>a,
.nav_contactus>a {
    color: #777777;
}

.nav_home>a:hover,
.nav_scheduleservice>a:hover,
.nav_services>a:hover,
.nav_parts>a:hover,
.nav_coupons>a:hover,
.nav_learn>a:hover,
.nav_contactus>a:hover {
    color: #333333;
}

ul#menu-main-nav>li {
    //float: left;
    margin: 0;
}


/*footer nav edits*/

ul {
    list-style-type: none;
}


/* Mobile Nav*/

@media only screen and (max-width: 766px) {
    li.nav_home,
    li.nav_scheduleservice,
    li.nav_services,
    li.nav_parts,
    li.nav_coupons,
    li.nav_learn,
    li.nav_contactus {
        width: 100% !important;
    }
}


/*--------------------------------------------------------------
# Master Template Defaults
--------------------------------------------------------------*/


/**  //////////  PALATE  //////////
Default - #9FA8A3
MED - #3B3A36
DARK - #000000
PRIMARY - #00b4f1
PRIMARY-DARK - #0080c6
SUCCESS - #38B265
SUCCESS-DARK - #0B8237
BG-LIGHT - #f5f5f5
**/


/* A/B TEST CLASSES */


/*.schedule-cta-test-01 {};*/


/** GENERAL **/

.bg-main {
    background-color: #9FA8A3;
    color: #fff;
}

.bg-main-med {
    background-color: #3B3A36;
}

.bg-main-drk {
    background-color: #000000;
}


/** TYPOGRAPHY **/

blockquote {
    border-color: #9FA8A3;
}

.fa-ul .fa.fa-check {
    color: #38B265;
}


/** LINKS **/

a,
a.list-group-item,
a.list-group-item:focus,
a.list-group-item:hover {
    color: #9FA8A3;
}

a:focus,
a:hover {
    color: #3B3A36;
}

.btn-main {
    background-color: #9FA8A3;
    border-color: #9FA8A3;
}

.btn-main:hover,
.btn-secondary {
    background-color: #3B3A36;
    border-color: #3B3A36;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #000000;
    border-color: #000000;
}

.btn-main-outline {
    background-color: transparent;
    border-color: #9FA8A3;
    color: #9FA8A3;
}

.btn-main-outline:focus,
.btn-main-outline:hover {
    background-color: #9FA8A3;
    border-color: #9FA8A3;
    color: #fff;
}

.btn-success,
.btn-success-outline:focus,
.btn-success-outline:hover {
    background-color: #38B265;
    border-color: #38B265;
}

.btn-success:focus,
.btn-success:hover {
    background-color: #0B8237;
    border-color: #0B8237;
}

.btn-success-outline {
    background-color: transparent;
    border-color: #38B265;
    color: #38B265;
}

.dropdown-menu {
    border-bottom: #9FA8A3 5px solid;
}

.text-main {
    color: #9FA8A3;
}

.text-primary {
    color: #00b4f1;
}


/** HEADER **/

header .larger {
    color: #9FA8A3;
}


/** FOOTER **/


/*footer { border-top: #9FA8A3 10px solid; }
button.close { color: #9FA8A3; }
/** HOME **/

.oem blockquote {
    border-color: #9FA8A3;
}


/** ONE TO ONE **/

#one-to-one .round {
    margin: 0 auto 1rem;
    padding: 1.2rem 0 0;
}

#one-to-one h4 {
    font-weight: 700;
    margin: 0;
}


/** CARFAX **/

h1.carfax-txt,
h2.carfax-txt,
h3.carfax-txt,
h4.carfax-txt {
    color: #3777bc;
}

.carfax-bodytxt {
    color: #333;
}

.carfax-btn,
.carfax-btn-alt {
    color: white;
    background-color: #f58d17;
    border-color: #f58d17;
    font-weight: bold;
}

.carfax-btn:hover {
    color: #fff;
    background-color: #3777bc;
    border-color: #3777bc;
}

.carfax-btn-alt:hover {
    color: #fff;
    background-color: transparent!important;
    border: 1px solid #fff!important;
}


/** CARFAX BANNER **/

#carfax-banner>section.header {
    background-color: #0085ba;
}


/** COUPON **/

.coupon {
    border-color: #9FA8A3;
    color: #9FA8A3;
}

.coupon .disclaimer {
    border-color: #9FA8A3;
    color: #333;
}


/**  //////////  SMALL  //////////  **/

@media only screen and (min-width: 768px) {
    /** NAV **/
    .navbar-default .nav.navbar-nav>li.li-right>a {
        background-color: #9FA8A3;
        border-color: #9FA8A3;
        color: #fff;
    }
    .navbar-default .nav.navbar-nav>li.li-right>a:hover {
        background-color: #3B3A36;
        border-color: #3B3A36;
    }
    /** STAFF **/
    #staff .bio {
        min-height: 395px;
        margin-bottom: 1rem;
    }
}

/**  //////////  LARGE  //////////  **/

@media only screen and (min-width: 1200px) {
    /** STAFF **/
    #staff .bio {
        min-height: 435px;
    }
}

ul.nav.navbar-nav.navbar-right.hidden-xs {
    background-color: #9FA8A3!important;
    border-color: #9FA8A3!important;
}

ul.nav.navbar-nav.navbar-right.hidden-xs>li>a {
    color: #ffffff!important;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0px!important;
    }
}


/*--------------------------------------------------------------
# CHILD THEME DEFAULTS
--------------------------------------------------------------*/



@media only screen and (min-width: 1200px) {
    /** STAFF **/
    #staff .bio {
        min-height: 435px;
    }
}


/**  //////////  STORE SPECIFIC  //////////  **/


/** BACKGROUNDS **/

#batteries>section.header {
    background: linear-gradient( 90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg');
}

#contact>section.header {
    background: linear-gradient(rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-contact-xs.jpg');
}

#faq>section.header {
    background: linear-gradient( 90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-faq-banner-xs.jpg');
}

#home .oem {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-xs.jpg');
}

#home>section.header {
    background: linear-gradient( 90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg');
}

#learning-center>section.header {
    background: linear-gradient(rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg');
}

#one-to-one>section.header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-one-to-one-xs.jpg');
}

#carfax>section.header {
    background: url('/wp-content/themes/servo/assets/bg-carfax-xs.jpg');
}

#ownership>section.header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-ownership-xs.jpg');
}

.local {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-home-local-xs.jpg');
}

.usp-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-shuttle-xs.jpg');
}

.usp-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-loaner-sm.jpg');
}

.usp-16 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-fluid-sm.jpg');
}

.usp-17 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-brakecomponents-sm.jpg');
}


/* justynfix */

#batteries>section.header {
    background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg');
}

#one-to-one>section.banner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-xs.jpg');
}

#tires>section.header {
    background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-tires-xs.jpg');
    background-size: cover;
}

#oil>section.header {
    background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-oil-change-xs.jpg');
    background-size: cover;
}

#brakes>section.header {
    background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-brakes-xs.jpg');
    background-size: cover;
}


/** ///// SMALL ///// **/

@media only screen and (min-width: 768px) {
    /** BACKGROUNDS **/
    #batteries>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-batteries-sm.jpg');
    }
    #contact>section.header {
        background: linear-gradient( 90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-contact-sm.jpg');
    }
    #faq>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-sm.jpg');
    }
    #home .oem {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-sm.jpg');
    }
    #home>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg');
    }
    #learning-center>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg');
    }
    #one-to-one>section.header {
        background: linear-gradient( 90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-one-to-one-sm.jpg');
    }
    #carfax>section.header {
        background: url('/wp-content/themes/servo/assets/bg-carfax-sm.jpg');
    }
    .local {
        background: url('/wp-content/themes/servo/assets/bg-home-local.jpg');
    }
    /**/
    #tires>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-tires-sm.jpg');
        background-size: cover;
    }
    #oil>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-oil-change-sm.jpg');
        background-size: cover;
    }
    #brakes>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-brakes-sm.jpg');
        background-size: cover;
    }
    #one-to-one>section.banner {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-sm.jpg');
    }
    #ownership>section.header {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-ownership-sm.jpg');
    }
}


/** ///// MEDIUM ///// **/

@media only screen and (min-width: 992px) {
    /** BACKGROUNDS **/
    #batteries>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-batteries-md.jpg');
    }
    #contact>section.header {
        background: linear-gradient( 90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-contact-md.jpg');
    }
    #faq>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-md.jpg');
    }
    #home .oem {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-md.jpg');
    }
    #home>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg');
    }
    #learning-center>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg');
    }
    #one-to-one>section.header {
        background: linear-gradient( 90deg, rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-one-to-one-md.jpg');
    }
    #carfax>section.header {
        background: url('/wp-content/themes/servo/assets/bg-carfax-md.jpg');
    }
    #one-to-one>section.banner {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-md.jpg');
    }
    /**/
    #tires>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-tires-md.jpg');
        background-size: cover;
    }
    #oil>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-oil-change-md.jpg');
        background-size: cover;
    }
    #brakes>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-brakes-md.jpg');
        background-size: cover;
    }
    #ownership>section.header {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-ownership-md.jpg');
    }
}


/** ///// LARGE ///// **/

@media only screen and (min-width: 1200px) {
    /** BACKGROUNDS **/
    #batteries>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-batteries-lg.jpg');
    }
    #contact>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-contact-lg.jpg');
    }
    #faq>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-lg.jpg');
    }
    #home .oem {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-lg.jpg');
    }
    #home>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg');
    }
    #learning-center>section.header {
        background: linear-gradient(90deg, rgba(10, 93, 120, .7), rgba(105, 99, 24, .7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg');
    }
    #ownership>section.header {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-ownership-lg.jpg');
    }
}

#batteries>section.header,
#contact>section.header,
#home>section.header,
#home .oem,
#learning-center>section.header,
#one-to-one>section.header,
#service section.rewards,
#faq>section.header,
#carfax>section.header,
#ownership>section.header,
.local {
    background-position: center;
    background-size: cover;
    border: 0;
    color: #fff;
}

/*--------------------------------------------------------------
# SCROLL
--------------------------------------------------------------*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#444;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#176db7;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


/*--------------------------------------------------------------
# MISC
--------------------------------------------------------------*/

p br+br,
#faq p.panel-title+p {
    display: none;
}

ul#menu-footer-nav1,
ul#menu-footer-nav2,
ul#menu-footer-nav3 {
    padding-left: 0px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent!important;
}

#map {
    height: 300px;
}

#gform_submit_button_1 {
    background-color: #c51a47;
    border-color: #c51a47;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: #fff!important;
}

#gform_submit_button_1:hover {
    background-color: #9e1539;
    border-color: #9e1539;
}

input {
    color: #333!important;
}

@media print {
    .container {
        width: auto;
    }
}

img.main-logo {
    image-rendering: auto;
}

.affix-bottom {
    position: absolute;
}

.wcaption-blk { font-size: 13px; background-color: #000; color: #fff; text-align: center; }

.sidebar-clear { bottom: 10px;}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}